---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import ShadowCard from "@/components/fundations/containers/ShadowCard.astro";
const locations = [
  {
    city: "Stockholm",
    address: "12 Drottninggatan",
    postalCode: "111 51",
    country: "Sweden",
  },
  {
    city: "Gothenburg",
    address: "8 Avenyn",
    postalCode: "411 36",
    country: "Sweden",
  },
  {
    city: "Malmö",
    address: "5 Stortorget",
    postalCode: "211 34",
    country: "Sweden",
  },
  {
    city: "Uppsala",
    address: "3 Svartbäcksgatan",
    postalCode: "753 20",
    country: "Sweden",
  },
];
const contactInfo = [
  {
    label: "Job Opportunities",
    email: "jobs@creativestudio.se",
  },
  {
    label: "Media Inquiries",
    email: "media@creativestudio.se",
  },
  {
    label: "Customer Support",
    email: "help@creativestudio.se",
  },
  {
    label: "Business Partnerships",
    email: "collab@creativestudio.se",
  },
];
---

<BaseLayout>
  <section>
    <Wrapper
      variant="standard"
      class="flex flex-col items-end border-t border-base-900"
    >
      <ShadowCard
        class="relative overflow-hidden flex flex-col bg-stripes justify-center w-full"
      >
        <div class="relative">
          <Text
            tag="h1"
            variant="displayMD"
            class="text-white lg:text-balance text-center font-thin tracking-tighter font-mono uppercase"
          >
            Contact us!
          </Text>
          <form action="#" method="POST" class="mt-12 max-w-sm mx-auto">
            <div class="grid grid-cols-1 gap-x-4 gap-y-2 sm:grid-cols-2">
              <div>
                <label for="first-name" class="text-sm text-base-300"
                  >First name</label
                >
                <div class="mt-2.5">
                  <input
                    type="text"
                    name="first-name"
                    id="first-name"
                    autocomplete="given-name"
                    class="block w-full h-12 px-4 py-2 text-sm text-white duration-300 bg-black/50 backdrop-blur-2xl border border-transparent rounded-xl appearance-none outline outline-base-900 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:outline-accent-500 focus:outline-offset-2 focus:outline-2 sm:text-sm"
                  />
                </div>
              </div>
              <div>
                <label for="last-name" class="text-sm text-base-300"
                  >Last name</label
                >
                <div class="mt-2.5">
                  <input
                    type="text"
                    name="last-name"
                    id="last-name"
                    autocomplete="family-name"
                    class="block w-full h-12 px-4 py-2 text-sm text-white duration-300 bg-black/50 backdrop-blur-2xl border border-transparent rounded-xl appearance-none outline outline-base-900 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:outline-accent-500 focus:outline-offset-2 focus:outline-2 sm:text-sm"
                  />
                </div>
              </div>
              <div class="sm:col-span-2">
                <label for="company" class="text-sm text-base-300"
                  >Company</label
                >
                <div class="mt-2.5">
                  <input
                    type="text"
                    name="company"
                    id="company"
                    autocomplete="organization"
                    class="block w-full h-12 px-4 py-2 text-sm text-white duration-300 bg-black/50 backdrop-blur-2xl border border-transparent rounded-xl appearance-none outline outline-base-900 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:outline-accent-500 focus:outline-offset-2 focus:outline-2 sm:text-sm"
                  />
                </div>
              </div>
              <div class="sm:col-span-2">
                <label for="email" class="text-sm text-base-300">Email</label>
                <div class="mt-2.5">
                  <input
                    type="email"
                    name="email"
                    id="email"
                    autocomplete="email"
                    class="block w-full h-12 px-4 py-2 text-sm text-white duration-300 bg-black/50 backdrop-blur-2xl border border-transparent rounded-xl appearance-none outline outline-base-900 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:outline-accent-500 focus:outline-offset-2 focus:outline-2 sm:text-sm"
                  />
                </div>
              </div>
              <div class="sm:col-span-2">
                <label for="message" class="text-sm text-base-300"
                  >Message</label
                >
                <div class="mt-2.5">
                  <textarea
                    name="message"
                    id="message"
                    rows="4"
                    class="block w-full resize px-4 py-2 text-sm text-white duration-300 bg-black/50 backdrop-blur-2xl border border-transparent rounded-xl appearance-none outline outline-base-900 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:outline-accent-500 focus:outline-offset-2 focus:outline-2 sm:text-sm"
                  ></textarea>
                </div>
              </div>
            </div>
            <div class="mt-4">
              <Button size="sm" variant="accent" class="w-full">
                Let's talk!
              </Button>
            </div>
          </form>
        </div>
      </ShadowCard>
    </Wrapper>
  </section>
  <section>
    <Wrapper variant="standard" class="border-t border-base-900">
      <div class="flex flex-col gap-24">
        <div class="flex flex-col">
          <div>
            <Text
              tag="h3"
              variant="textBase"
              class="text-base-400 font-thin font-mono uppercase"
            >
              Our offices
            </Text>
          </div>
          <ul role="list" class="grid grid-cols-1 lg:grid-cols-4 gap-y-8 mt-2">
            {
              locations.map((location) => (
                <li>
                  <address class="text-sm not-italic text-base-400">
                    <Text
                      tag="span"
                      variant="textXS"
                      class="text-white uppercase leading-7 font-medium"
                    >
                      {location.city}
                    </Text>
                    <br />
                    {location.address}
                    <br />
                    {location.postalCode}, {location.country}
                  </address>
                </li>
              ))
            }
          </ul>
        </div>
        <div class="flex flex-col">
          <Text
            tag="h3"
            variant="textBase"
            class="text-base-400 font-thin font-mono uppercase"
          >
            Email us
          </Text>
          <dl class="grid grid-cols-1 lg:grid-cols-4 gap-y-8 mt-2">
            {
              contactInfo.map((item) => (
                <div>
                  <dt>
                    <Text
                      tag="h4"
                      variant="textXS"
                      class="text-white uppercase  font-medium"
                    >
                      {item.label}
                    </Text>
                  </dt>
                  <dd>
                    <Text
                      tag="a"
                      variant="textXS"
                      href={`mailto:${item.email}`}
                      class="text-base-400 text-balance"
                    >
                      {item.email}
                    </Text>
                  </dd>
                </div>
              ))
            }
          </dl>
        </div>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
