---
// Assets
import { Image } from "astro:assets";
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
const { url, title, description, image } = {
  url: "/blog/posts/" + Astro.props.post.slug,
  title: Astro.props.post.data.title,
  image: Astro.props.post.data.image.url,
  description: Astro.props.post.data.description,
};
---

<article class="relative overflow-hidden group">
  <a
    href={url}
    title={`Read more: ${title}`}
    aria-label={`Read blog post: ${title}`}
    class="absolute inset-0 z-10"></a>

  <Image
    alt={title}
    src={image}
    width={800}
    height={700}
    loading="lazy"
    decoding="async"
    class="w-full aspect-16/10 object-cover object-center rounded-xl"
  />
  <div class="mt-4">
    <div>
      <Text tag="h3" variant="textBase" class="text-white font-medium">
        {title}
      </Text>
      <Text tag="p" variant="textSM" class="text-base-500 mt-2 line-clamp-2">
        {description}
      </Text>
    </div>
  </div>
</article>
