---
// Assets
import { Image } from "astro:assets";
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import ShadowCard from "@/components/fundations/containers/ShadowCard.astro";
// Components
import BlogEntries1 from "@/components/blog/BlogCard.astro";
// Sections
import SubscribeCta from "@/components/ctas/SubscribeCta.astro";
// Content
const { frontmatter } = Astro.props;
import { getCollection } from "astro:content";
//// Blog
const allPosts = await getCollection("posts");
// Sort posts by date
allPosts.sort((a, b) => {
  const dateA = new Date(a.data.pubDate).getTime();
  const dateB = new Date(b.data.pubDate).getTime();
  return dateB - dateA; // Compare timestamps
});
---

<BaseLayout>
  <section>
    <Wrapper
      variant="standard"
      class="h-[50dvh] flex flex-col items-end border-t border-base-900"
    >
      <ShadowCard
        class="relative overflow-hidden flex flex-col justify-end w-full"
      >
        <Image
          width={1000}
          height={1000}
          src={frontmatter.image.url}
          alt={frontmatter.image.alt}
          class="absolute inset-0 z-0 object-top object-cover blur size-full"
        />
        <div
          class="absolute inset-0 bg-black/80 bg-stripes shadow shadow-black outline outline-base-900"
        >
        </div>
        <div class="relative text-center">
          <Text
            tag="span"
            variant="textXS"
            class="text-base-400 font-medium uppercase"
          >
            <time
              datetime={new Date(frontmatter.pubDate).toLocaleDateString(
                "en-US",
                {
                  year: "numeric",
                  month: "long",
                  day: "2-digit",
                }
              )}
            >
              {
                new Date(frontmatter.pubDate).toLocaleDateString("en-US", {
                  year: "numeric",
                  month: "long",
                  day: "2-digit",
                })
              }</time
            >
          </Text>
          <Text
            tag="h1"
            variant="displayMD"
            class="text-white lg:text-balance font-thin tracking-tighter font-mono uppercase"
          >
            <span class="font-medium"> {frontmatter.title}:</span>
            {frontmatter.description}
          </Text>
        </div>
      </ShadowCard>
    </Wrapper>
  </section>
  <section class="overflow-hidden">
    <Wrapper variant="standard" class="py-8">
      <Wrapper variant="prose" class="max-w-xl mx-auto mt-12">
        <slot /></Wrapper
      >
    </Wrapper>
  </section>
  <SubscribeCta />
  <section>
    <Wrapper variant="standard" class="border-t border-base-900">
      <div class="flex items-center justify-between w-full">
        <Text
          tag="h3"
          variant="textBase"
          class="text-base-400 font-thin font-mono uppercase"
        >
          Other articles
        </Text>
        <Button isLink size="sm" variant="muted" href="/blog">
          Read our blog
        </Button>
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-x-4 gap-y-24 mt-8">
        {allPosts.slice(0, 4).map((post) => <BlogEntries1 post={post} />)}
      </div>
    </Wrapper>
  </section>
</BaseLayout>
